input[type=text]
{
   
    height: 35px;
    width: 191px;
    border:solid 1px #BFBDBD;
   	padding-left: 5px;
    box-shadow: 2px 2px 0 #828181 inset;
     color: #979797;
    margin-left: 2em;
   
}
input[type=submit]
{
    background-color: #1E1E1E;
    color: #979797;
    margin-top: 3em;
    height: 30px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
    margin-left: 2em;
}


h2
{
	color: black;
	text-align: center;
	font-family: Arial;
}